<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Page Title</title>

    <meta property="og:title" content="Stocks">
    <meta property="og:description" content="Create ">
    <meta property="og:image" content="http://euro-travel-example.com/thumbnail.jpg">
    <meta property="og:url" content="http://euro-travel-example.com/index.htm">

    <meta name="description" content="Learn more Rafayel Mkrtchyan, his projects, interests and experience.">
    <meta name="keywords" content="Software Engineer,Product Manager,Project Manager,Data Scientist,Computer Scientist">
    <meta name=”robots” content=”index,follow”>
    <meta name="revisit-after" content="7 days">

    <link rel="shortcut icon" href="favicon.ico">
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.shoelace.style/1.0.0-beta24/shoelace.css">
</head>