<div class="row">
    <div class="col-10">
        <div class="input-group">
          <input  id="searchInput" class="input-xl" type="text">
        </div>
    </div>
    <div class="col-2">
        <button id="searchButton" type="button" class="button-light button-block button-xl">Add</button>
    </div>
</div>
<script type="text/javascript" src="/js/ac.js"></script>
<script type="text/javascript">

(function () {
var search = new autoComplete({
    selector: 'input[type="text"]',
    minChars: 2,
    source: function (term, response) {
        $http.get("/search/" + term,
            function success(req) {
                response(JSON.parse(req.responseText));
            }
        );
    },
    renderItem: function (item, search){
        search = search.replace(/[-\/\\^$*+?.()|[\]{}]/g, '\\$&');
        var re = new RegExp("(" + search.split(' ').join('|') + ")", "gi");
        return '<div class="autocomplete-suggestion" data-val="'+ item[0] +'" data-symbol="' + item[0] + '">'
            + '(' + item[0].replace(re, "<b>$1</b>") + ') '
            + item[1].replace(re, "<b>$1</b>")
        +'</div>';
    }
});
})();
</script>